*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header */
.haeder-top::after {
  content: '';
  display: table;
  clear: both;
}
.header-top-left {
  float: left;
  background-color: yellow;
  height: 80px;
  width: 50%;
}
.header-top-right {
  float: right;
  background-color: red;
  height: 80px;
  width: 50%;
}
.header-hubSpot::after {
  content: '';
  display: table;
  clear: both;
}
.header-hubspot-left {
  float: left;
  height: 80px;
  width: 50%;
  background-color: green;
}
.header-hubspot-right {
  float: right;
  height: 80px;
  width: 50%;
  background-color: blue;
}
.better {
  height: 500px;
  background-color: grey;
}
.header-bottom {
  height: 80px;
  background-color: lightgreen;
}
/* main */
.main-top {
  height: 400px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: red;
}
.main-crm {
  height: 300px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: yellow;
  margin-bottom: 20px;
}
.main-col {
  margin-bottom: 50px;
}
.main-col::after {
  content: '';
  display: table;
  clear: both;
}
.col-left {
  float: left;
  height: 400px;
  width: 24%;
  background-color: green;
  margin-left: 200px;
}
.col-center {
  float: left;
  height: 400px;
  width: 24%;
  background-color: black;
  margin-left: 3.4%;
  margin-right: 3.4%;
}
.col-right {
  float: left;
  height: 400px;
  width: 24%;
  background-color: grey;
}
.learn {
  height: 800px;
  background-color: #00B8AA;
}
.final-main {
  height: 800px;
  background-color: lightgreen;
}
/* footer */
.page-footer {
  height: 800px;
  background-color: grey;
}
