*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header */
.haeder-top::after {
  content: '';
  display: table;
  clear: both;
}
.header-top-left {
  float: left;
  height: 80px;
  width: 36%;
  margin-left: 200px;
  line-height: 80px;
}
.haeder-top {
  background-color: #eceeeb;
}
.list {
  list-style: none;
}
.haeder-top a {
  color: #33475B;
  text-decoration: none;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
}
.haeder-top li {
  display: inline;
}
.header-top-right {
  float: right;
  
  line-height: 80px;
  margin-right: 200px;
  margin-left: 100px;
}
.login {
  border-style: solid;
  border-radius: 5px;
  border-color: orange;
  background-color: white;
  text-decoration-color: orange;
  padding: 5px;
}
.gethub {
  border-style: solid;
  border-radius: 5px;
  background-color: orange;
  border-color: orange;
  padding: 5px;
}
.header-hubspot {
  background-color: white;
  height: 80px;
}
img {
  margin-left: 200px;
  margin-top: 20px;
}
.header-hubSpot::after {
  content: '';
  display: table;
  clear: both;
}
.header-hubspot-left {
  float: left;
  height: 80px;
  width: 50%;
  /* background-color: green; */
}
.header-hubspot-right {
  float: right;
  height: 80px;
  width: 50%;
  /* background-color: blue; */
}
.better {
  height: 500px;
  background-color: grey;
}
.header-bottom {
  height: 80px;
  background-color: lightgreen;
}
/* main */
.main-top {
  height: 400px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: red;
}
.main-crm {
  height: 300px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: yellow;
  margin-bottom: 20px;
}
.main-col {
  margin-bottom: 50px;
}
.main-col::after {
  content: '';
  display: table;
  clear: both;
}
.col-left {
  float: left;
  height: 400px;
  width: 24%;
  background-color: green;
  margin-left: 200px;
}
.col-center {
  float: left;
  height: 400px;
  width: 24%;
  background-color: black;
  margin-left: 3.4%;
  margin-right: 3.4%;
}
.col-right {
  float: left;
  height: 400px;
  width: 24%;
  background-color: grey;
}
.learn {
  height: 800px;
  background-color: #00B8AA;
}
.final-main {
  height: 800px;
  background-color: lightgreen;
}
/* footer */
.page-footer {
  height: 800px;
  background-color: grey;
}
