*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header */
.haeder-top::after {
  content: '';
  display: table;
  clear: both;
}
.header-top-left {
  float: left;
  height: 80px;
  margin-left: 400px;
  line-height: 80px;
}
.haeder-top {
  background-color: #F5F8FA;
}
.list {
  list-style: none;
}
.haeder-top a {
  color: #33475B;
  text-decoration: none;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}
.fa-search{
  color: #08A7BF
}
.haeder-top li {
  display: inline;
}
.header-top-right {
  float: right;
  line-height: 80px;
  margin-right: 400px;
  margin-left: 100px;
}
.fa-caret-down {
  font-size: 20px;
  color: #7C98B6;
}
.login {
  border-style:solid;
  border-radius: 5px;
  border-color: #FF8F73;
  background-color: white;
  text-decoration-color: #FF8F73;
  padding: 5px;
}
.gethub {
  border-style: solid;
  border-radius: 5px;
  background-color: #FF8F73;
  border-color: #FF8F73;
  padding: 5px;
}
.header-hubspot {
  background-color: white;
  height: 80px;
}
img {
  margin-left: 300px;
  margin-top: 20px;
}
.header-hubSpot::after {
  content: '';
  display: table;
  clear: both;
}
.header-hubspot-left {
  float: left;
  height: 80px;
  margin-left: 100px;
}
.header-hubspot-right {
  line-height: 80px;
}
.lis-right {
  margin-left: 150px;
  font-size: 20px;
}
.header-hubspot-right li {
  display: inline;
}
.header-hubspot a {
  text-decoration: none;
  font-size: 18px;
  margin-right: 10px;
}
.header-hubspot-right {
  float: right;
  height: 80px;
  width: 50%;
}
.better {
  height: 900px;
  background-color: grey;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;
  }
.bannerone {
  position:relative;;
  width: 60%;
  height: 400px;
  margin: 0;
  color: #33475B;
}
.testo-bannerone {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  left: 400px;
  width: 35%;
}
.title-banner {
  font-size: 50px;
  margin-top: 300px;
  margin-bottom: 30px;
  color: #33475B;
}
.mini-text {
  font-size: 20px;
  margin-bottom: 15px;
}
.tasto-big {
  border-radius: 5px;
  background-color: #FF8F73;
  font-size: 22px;
  height: 80px;
  text-align: center;
  width: 200px;
  line-height: 70px;
  margin-bottom: 20px;
  color: white;
  }
.tasto-big a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.text-small {
  width: 190px;
}
/* main */
main {
  background-color: #F5F8FA;
}
.main-top {
  /* height: 400px; */
  margin-left: 400px;
  margin-right: 400px;
  /* background-color: red; */
}
img {
  margin-left: 400px;
  padding-top: 100px;
}
.powerfull {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  color: #33475B;
}
.powerfull-small{
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
  color:#33475B;
}
.main-crm {
  height: 300px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: yellow;
  margin-bottom: 20px;
}
.main-col {
  margin-bottom: 50px;
}
.main-col::after {
  content: '';
  display: table;
  clear: both;
}
.col-left {
  float: left;
  height: 400px;
  width: 17.3%;
  background-color: green;
  margin-left: 400px;
}
.col-center {
  float: left;
  height: 400px;
  width: 17.3%;
  background-color: black;
  margin-left: 3%;
  margin-right: 3%;
}
.col-right {
  float: left;
  height: 400px;
  width: 17.5%;
  background-color: grey;
}
.learn {
  height: 800px;
  background-color: #00B8AA;
}
.final-main {
  height: 800px;
  background-color: lightgreen;
}
/* footer */
.page-footer {
  height: 800px;
  background-color: grey;
}
